html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#formulario {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ben #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol#beneficiarios {
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  width: 100%;
  max-width: 750px;
}

ol#beneficiarios div {
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#formulario {
  background: aqua;
  border-radius: 20px;
  padding: 40px;
  max-width: 900px;

  box-shadow: 0px 8px 101px -47px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.5s ease-in-out;
}
.infoTitulare {
  padding: 0;
}

@media screen and (max-width: 991px) {
  #formulario .labelNome {
    width: 100%;
  }
  #formulario label {
    width: 48%;
  }
  .input-group {
    display: flex;
    justify-content: space-between;
  }
  .liGroup {
    display: flex;
    gap: 10px;
    align-items: stretch !important;
  }
  .btn-Excluir {
    margin-top: 35px;
  }

  .infoTitulare label {
    width: 100% !important;
  }
  .infoTitulare {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="submit"] {
  margin-top: 20px;
}

#listaPrices {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#detalhesPlano {
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input-group {
  display: flex;
  align-items: center;
}

.liGroup {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

/* teste */

div#detalhesPlano {
  display: flex;
  gap: 50px;
  justify-content: center;
}

div#detalhesPlano ul {
  padding: 0px;
}
div#detalhesPlano div {
  background: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 101px -47px rgba(0, 0, 0, 0.75);
}
div#detalhesPlano div:hover {
  box-shadow: 0px 5px 29px 6px rgba(0, 0, 0, 0.56);
  transition: box-shadow 0.5s ease-in-out;
}

button,
.btn {
  background-color: blanchedalmond;
  border-radius: 50px;
  border: none;

  cursor: pointer;
}

.titlePlano,
.titleDiferenciais {
  text-align: center;
}

div.totalPanos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

div.totalPanos input {
  width: auto;
}

.infoTitulare label {
  width: 100%;
}
.infoTitulare {
  gap: 20px;
}
.buttonHandles {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
}

div#planex {
  padding: 43px 0;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide {
  height: 270px !important;
  /* min-width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: aqua;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  border-radius: 20px;
}
